.app {
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 90vh;
  width: 100vw;
  overflow: hidden;
}

.analyzer-container {
  margin: 20px auto;
  width: min(500px, 90%);
  background-color: rgb(7, 158, 228);
  padding: 20px;
  border-radius: 8px;
}

.title {
  color: #ccc;
}

.file-format-text{
  margin: 0;
  font-size: 18px;
}

.results {
  width: min(1000px, 90%);
  margin: 30px auto;

}

.results-inner-container {
  width: 100%;
  overflow-x: scroll;
}

.result-table {
  width: 1000px;
}

.result-table th,
td {
  border: 1px solid #ccc !important;
  width: 33.3%;
  min-height: 36px !important;
  padding: 10px;
}


.form-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.file-upload-button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 5px;
}

.file-upload-input {
  margin: 10px 0px;
  height: 100%;
  background: #ccc;
  width: 95%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.error {
  color: red;
}

.results {
  margin-top: 20px;
}

.score-title {
  margin-top: 10px;
}