.app {
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 90vh;
  width: 100vw;
 overflow: hidden;
}

.analyzer-container {
  margin: 20px auto;
  width: min(500px, 90%);
  background-color: rgb(114, 199, 239);
  padding: 20px;
}


.results{
  width: min(1000px, 90%);
    margin: 30px auto;

}

table{
  width: 100%;
}

.results-inner-container{
width: 100%;
overflow-x: scroll;
}


table{
  width: 1000px;
}

th, td{
  border: 2px solid #ccc !important;
width: 33.3%;
}



form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
}

input {
  margin: 10px 0px;
  height: 100%;
  background: #ccc;
  width: 95%;
  padding: 10px;
}

.error {
  color: red;
}

.results {
  margin-top: 20px;
}

h2,
h3 {
  margin-top: 10px;
}

